<!-- templates/base.html -->

<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" context="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Portfolio</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css"/>
    <style>
      .video-background {
          transform: rotate(180deg);
          position: fixed;
          right: 0;
          bottom: 0;
          min-width: 100%;
          min-height: 100%;
          width: auto;
          height: auto;
          z-index: -100;
          background-size: cover;
      }
    </style>
    <script defer src="https://use.fontawesome.com/releases/v6.4.0/js/all.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
      document.addEventListener('DOMContentLoaded', () => {
      
      // Get all "navbar-burger" elements
      const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
      
      // Add a click event on each of them
      $navbarBurgers.forEach( el => {
        el.addEventListener('click', () => {
        
          // Get the target from the "data-target" attribute
          const target = el.dataset.target;
          const $target = document.getElementById(target);
        
          // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
          el.classList.toggle('is-active');
          $target.classList.toggle('is-active');
        
        });
      });

      });
    </script>
</head>
<body>
  <header>
    <nav class="navbar is-white is-fixed-top" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="https://www.aimhighergg.com">
          <img src="static/images/raspberrypi-icon.png">
        </a>
        <a class="navbar-item is-hidden-tablet" href="{{ url_for('main.index') }}">
          <span class="ion-ionic has-text-link" >
            <i class="fas fa-lg fa-solid fa-house"></i>
          </span>
        </a>
        <a class="navbar-item is-hidden-tablet" href="{{ url_for('main.infrastructure') }}">
          <span class="ion-ionic has-text-info" >
            <i class="fas fa-lg fa-solid fa-dharmachakra"></i>
          </span>
        </a>
        <a class="navbar-item is-hidden-tablet" href="{{ url_for('main.software') }}">
          <span class="ion-ionic has-text-warning" >
            <i class="fas fa-lg fa-solid fa-code"></i>
          </span>
        </a>
        <a class="navbar-item is-hidden-tablet" href="{{ url_for('main.ci_cd') }}">
          <span class="ion-ionic has-text-danger" >
            <i class="fas fa-lg fa-solid fa-recycle"></i>
          </span>
        </a>
        <a class="navbar-item is-hidden-tablet" href="https://redmine.aimhighergg.com/" target="_blank" rel="noopener noreferrer"">
          <span class="ion-ionic has-text-danger" >
            <i class="fa-solid fa-ticket"></i>
          </span>
        </a>
        <a class="navbar-item is-hidden-tablet" href="https://grafana.aimhighergg.com/" target="_blank" rel="noopener noreferrer"">
          <span class="ion-ionic has-text-warning" >
            <i class="fa-solid fa-chart-simple"></i>
          </span>
        </a>
        <span class="navbar-item is-hidden-tablet">
          <a class="button is-primary is-inverted" href="https://github.com/AbeYuki" target="_blank" rel="noopener noreferrer">
            <span class="icon">
              <i class="fab fa-github"></i>
            </span>
            <span>Github</span>
          </a>
        </span>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>   
      </div>
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a href="{{ url_for('main.index') }}" class="navbar-item">
            Home
          </a>
          <a href="{{ url_for('main.infrastructure') }}" class="navbar-item">
            Infrastructure
          </a>
          <a href="{{ url_for('main.software') }}" class="navbar-item">
            Software
          </a>
          <a href="{{ url_for('main.ci_cd') }}" class="navbar-item">
            CI/CD
          </a>
          <a href=https://redmine.aimhighergg.com/ target="_blank" rel="noopener noreferrer" class="navbar-item">
            Redmine
          </a>
          <a href=https://grafana.aimhighergg.com/ target="_blank" rel="noopener noreferrer" class="navbar-item">
            Grafana
          </a>
        </div>
        <div class="navbar-end">
          <span class="navbar-item">
            <a class="button is-primary is-inverted" href="https://github.com/AbeYuki" target="_blank" rel="noopener noreferrer">
              <span class="icon">
                <i class="fab fa-github"></i>
              </span>
              <span>Github</span>
            </a>
          </span>
        </div>
      </div>
    </nav>
  </header>
{% block index %}
{% endblock %}
{% block infrastructure %}
{% endblock %}
{% block software %}
{% endblock %}
{% block ci_cd %}
{% endblock %}
</body>
</html>