{% extends "base.html" %}
{% block ci_cd %}
<section class="section">
    <div class="container">
      <div class="columns">
        <div class="colmun">
          <article class="media notification is-white">
            <div class="media-content">
              <div class="content">
                <h1 class="title">CI/CD</h1>
              </div>
            </div>
          </article>
          <div class="columns is-gapless is-multiline">
            <div class="column is-half">
                <figure class="image is-inline-block">
                  <img src="static/images/ci.png">
                </figure>
            </div>
            <div class="column is-half">
              <figure class="image is-inline-block">
                <img src="static/images/cd.png">
              </figure>
            </div>
          </div>
          <article class="media notification is-white">
            <div class="media-content">
              <div class="content">
                <h1 class="title is-size-4">CI</h1>
                <p class="is-size-6">
                  <strong>
                    アプリケーションを管理している repository への push トリガーで、 CircleCI へ連携され workflow を実行しています。<br>
                    Build の運用は、アプリケーション用とビルド用(kaniko)の repository と分けていますが連動して動作します。<br>
                    Build 環境構築は CircleCI の self-host-runner が kubernetes に kaniko(Build repo) の deploy を行い、 Kaniko の中で app repo を clone し、build & push を行っています。 <br>
                    App repo: <a href="https://github.com/AbeYuki/flask-portfolio.git" target="_blank" rel="noopener noreferrer"> https://github.com/AbeYuki/flask-portfolio.git </a><br>
                    Build repo: <a href="https://github.com/AbeYuki/kaniko.git" target="_blank" rel="noopener noreferrer"> https://github.com/AbeYuki/kaniko.git </a><br>
                  </strong>
                </p>
                <h1 class="title is-size-4">CD</h1>
                <p class="is-size-6">
                  <strong>
                    インフラを管理している repository への push トリガーで、アプリケーションリソースを管理している Argo CD が自動でデプロイを実行しています。
                  </strong>
                </p>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </section>
{% endblock %}