{% extends "base.html" %}
{% block content_1 %}
<!-- .section -->
<section class="section">
	<div class="container">
		<div class="columns">
			<div class="column">
				<article class="media notification is-info">
					<figure class="media-left">
						<span class="icon is-medium">
							<i class="fa-regular fa-user"></i>
						</span>
					</figure>
					<div class="media-content">
						<div class="content">
							<h1 class="title is-size-4">ABOUT</h1>
							<p class="is-size-5">
								AWS,Kubernetes,Docker を得意としています。<br>
								好きなプロダクトは AWS, Kubernetes, DOcker, GitLab, Ansible, Terraform, Argo CD, CircleCI です。
								クラウド、コンテナおケースとレーション管理、CI/CD, SRE, DevOps, IaC, アジャイル当の分野でシナジーとより良い価値を提供できるように取り組んでいます。
							</p>
						</div>
					</div>
				</article>
			</div>
			<div class="column">
				<article class="media notification is-success">
					<figure class="media-left">
						<span class="icon is-medium">
							<i class="fas fa-2x fa-align-justify"></i>
						</span>
					</figure>
					<div class="media-content">
						<div class="content">
							<h1 class="title is-size-4">SKILLS</h1>
							<p class="is-size-5">
								Kubernetes<br>
								Docker<br>
								Public Cloud (AWS)<br>
								Infrastructure as Code <br>(Ansible / Terraform)<br>
								CI/CD (GitLab / CircleCI / etc)<br>
								Database/KVS (MySQL / InfluxDB2 / etcd / Redis / etc)<br>
								Monitoring (Datadog / Prometheus / Loki / Zabbix / telegraf / Grafana / / etc)<br>
								Programming (Python / Powershell / Bash )<br>
							</p>
						</div>
					</div>
				</article>
			</div>
			<div class="column">
				<article class="media notification is-warning">
					<figure class="media-left">
						<span class="icon is-medium">
							<i class="fas fa-2x fa-shield-alt"></i>
						</span>
					</figure>
					<div class="media-content">
						<div class="content">
							<h1 class="title is-size-4">…Classes?</h1>
							<p class="is-size-5">
								Instead of writing our CSS per-element, we can use predefined classes.
								With enough classes, we can describe our website design using semantics. <span class="emoticon">٩(^ᴗ^)۶</span>
							</p>
						</div>
					</div>
				</article>
			</div>
		</div>
	</div>
</section>
<!-- /.section -->
{% endblock %}
{% block content_2 %}
<!-- .section -->
<section class="section">
	<div class="container">
		<div class="columns is-multiline">
			<div class="column is-one-third">
				<article class="media notification has-background-white">
					<figure class="media-left">
						<span class="icon">
							<i class="fas fa-lg fa-columns has-text-warning"></i>
						</span>
					</figure>
					<div class="media-content">
						<div class="content has-text-black">
							<h1 class="title is-size-4 has-text-black">Columns</h1>
							<p class="subtitle is-size-5 has-text-black">
								The power of <strong>Flexbox</strong> in a simple interface
							</p>
						</div>
					</div>
				</article>
			</div>
			<div class="column is-one-third">
				<article class="media notification has-background-white">
					<figure class="media-left">
						<span class="icon">
							<i class="fab fa-lg fa-wpforms has-text-info"></i>
						</span>
					</figure>
					<div class="media-content">
						<div class="content">
							<h1 class="title is-size-4">Form</h1>
							<p class="subtitle is-size-5">
								The indispensable <strong>form controls</strong>, designed for maximum clarity
							</p>
						</div>
					</div>
				</article>
			</div>
			<div class="column is-one-third">
				<article class="media notification has-background-white">
					<figure class="media-left">
						<span class="icon">
							<i class="fas fa-lg fa-cubes has-text-danger"></i>
						</span>
					</figure>
					<div class="media-content">
						<div class="content">
							<h1 class="title is-size-4">Components</h1>
							<p class="subtitle is-size-5">
								Advanced multi-part components with lots of possibilities
							</p>
						</div>
					</div>
				</article>
			</div>
			<div class="column is-one-third">
				<article class="media notification has-background-white">
					<figure class="media-left">
						<span class="icon">
							<i class="fas fa-lg fa-cogs has-text-grey"></i>
						</span>
					</figure>
					<div class="media-content">
						<div class="content">
							<h1 class="title is-size-4">Modifiers</h1>
							<p class="subtitle is-size-5">
								An <strong>easy-to-read</strong> naming system designed for humans
							</p>
						</div>
					</div>
				</article>
			</div>
			<div class="column is-one-third">
				<article class="media notification has-background-white">
					<figure class="media-left">
						<span class="icon">
							<i class="fas fa-lg fa-warehouse has-text-primary"></i>
						</span>
					</figure>
					<div class="media-content">
						<div class="content">
							<h1 class="title is-size-4">Layout</h1>
							<p class="subtitle is-size-5">
								Design the <strong>structure</strong> of your webpage with these CSS classes
							</p>
						</div>
					</div>
				</article>
			</div>
			<div class="column is-one-third">
				<article class="media notification has-background-white">
					<figure class="media-left">
						<span class="icon">
							<i class="fas fa-lg fa-cube has-text-danger"></i>
						</span>
					</figure>
					<div class="media-content">
						<div class="content">
							<h1 class="title is-size-4">Elements</h1>
							<p class="subtitle is-size-5">
								Essential interface elements that only require a <strong>single CSS class</strong>
							</p>
						</div>
					</div>
				</article>
			</div>
		</div>
	</div>
</section>
<!-- /.section -->
{% endblock %}