{% extends "base.html" %}
{% block index %}
<!-- templates/index.html -->
<section class="section">
	<div class="container">
		<div class="columns">
			<div class="column is-9">
				<div>
					<article class="media notification is-white">
						<div class="media-content">
							<div class="content">
								<h1 class="title is-size-4">ABOUT</h1>
								<p class="is-size-6">
									<strong>
									AWS, Kubernetes, Docker を得意としています。<br>
									好きなプロダクトは AWS, Kubernetes, Docker, Grafana, GitLab, Ansible, Terraform, Argo CD, CircleCI です。<br>
									クラウド、コンテナ管理、CI/CD, SRE, DevOps, IaC, アジャイル当の分野でシナジーとより良い価値を提供できるように取り組んでいます。<br>
									</strong>
								</p>
							</div>
						</div>
					</article>
				</div>
				<div>
					<article class="media notification is-white">
						<div class="media-content">
							<div class="content">
								<h1 class="title is-size-4">SKILLS</h1>
							</div>
						</div>
					</article>
				</div>
				<div class="columns">
					<div class="column is-half">
						<div>
							<article class="media notification is-white">
								<figure class="media-left">
									<span class="icon">
										<i class="fas fa-lg fa-cubes has-text-danger"></i>
									</span>
								</figure>
								<div class="media-content">
									<div class="content has-text-black">
										<h1 class="title is-size-4 has-text-black">Container orchestration system</h1>
										<p class="subtitle is-size-5 has-text-black">
											Kubernets<progress class="progress is-success" value="80" max="100"></progress>
											MicroK8s<progress class="progress is-success" value="80" max="100"></progress>
											RKE<progress class="progress is-primary" value="60" max="100"></progress>
											RKE2<progress class="progress is-link" value="20" max="100"></progress>
										</p>
									</div>
								</div>
							</article>
						</div>
						<div>
							<article class="media notification has-background-white">
								<figure class="media-left">
									<span class="icon">
										<i class="fas fa-lg fa-cloud has-text-warning"></i>
									</span>
								</figure>
								<div class="media-content">
									<div class="content">
										<h1 class="title is-size-4">Public Cloud</h1>
										<p class="subtitle is-size-5">
											AWS<progress class="progress is-success" value="80" max="100"></progress>
											GCP<progress class="progress is-info" value="30" max="100"></progress>
											Azure<progress class="progress is-link" value="20" max="100"></progress>
											OCI<progress class="progress is-info" value="40" max="100"></progress>
										</p>
									</div>
								</div>
							</article>
						</div>
						<div>
							<article class="media notification has-background-white">
								<figure class="media-left">
									<span class="icon">
										<i class="fas fa-lg fa-code-commit has-text-info"></i>
									</span>
								</figure>
								<div class="media-content">
									<div class="content">
										<h1 class="title is-size-4">CICD/DevOps/GitOps</h1>
										<p class="subtitle is-size-5">
											GitLab<progress class="progress is-primary" value="70" max="100"></progress>
											CircleCI<progress class="progress is-primary" value="60" max="100"></progress>
											Argo CD<progress class="progress is-success" value="80" max="100"></progress>
										</p>
									</div>
								</div>
							</article>
						</div>
						<div>
							<article class="media notification has-background-white">
								<figure class="media-left">
									<span class="icon">
										<i class="fas fa-lg fa-cogs has-text-grey"></i>
									</span>
								</figure>
								<div class="media-content">
									<div class="content">
										<h1 class="title is-size-4">IaC/Automation</h1>
										<p class="subtitle is-size-5">
											Ansible<progress class="progress is-primary" value="60" max="100"></progress>
											Terraform<progress class="progress is-success" value="80" max="100"></progress>
										</p>
									</div>
								</div>
							</article>
						</div>
					</div>
					<div class="column is-half">
						<div>
							<article class="media notification has-background-white">
								<figure class="media-left">
									<span class="icon">
										<i class="fas fa-lg fa-code has-text-info"></i>
									</span>
								</figure>
								<div class="media-content">
									<div class="content">
										<h1 class="title is-size-4">Programming language</h1>
										<p class="subtitle is-size-5">
											Shell script<progress class="progress is-success" value="90" max="100"></progress>
											Powershell<progress class="progress is-primary" value="60" max="100"></progress>
											Python<progress class="progress is-success" value="70" max="100"></progress>
											Go<progress class="progress is-link" value="10" max="100"></progress>
										</p>
									</div>
								</div>
							</article>
						</div>	
						<div>
							<article class="media notification has-background-white">
								<figure class="media-left">
									<span class="icon">
										<i class="fas fa-lg fa-database has-text-primary"></i>
									</span>
								</figure>
								<div class="media-content">
									<div class="content">
										<h1 class="title is-size-4">Database</h1>
										<p class="subtitle is-size-5">
											MySQL<progress class="progress is-success" value="80" max="100"></progress>
											MariaDB<progress class="progress is-success" value="80" max="100"></progress>
											PostgreSQL<progress class="progress is-primary" value="60" max="100"></progress>
											etcd<progress class="progress is-primary" value="50" max="100"></progress>
											Redis<progress class="progress is-link" value="20" max="100"></progress>
											InfluxDB<progress class="progress is-primary" value="70" max="100"></progress>
											Prometheus<progress class="progress is-primary" value="70" max="100"></progress>
										</p>
									</div>
								</div>
							</article>
						</div>
						<div>
							<article class="media notification has-background-white">
								<figure class="media-left">
									<span class="icon">
										<i class="fas fa-lg fa-circle-nodes has-text-danger"></i>
									</span>
								</figure>
								<div class="media-content">
									<div class="content">
										<h1 class="title is-size-4">Distributed</h1>
										<p class="subtitle is-size-5">
											LVM<progress class="progress is-success" value="80" max="100"></progress>
											GlasterFS<progress class="progress is-success" value="80" max="100"></progress>
											Longhorn<progress class="progress is-success" value="90" max="100"></progress>
											ROOK<progress class="progress is-info" value="35" max="100"></progress>
											OpenEBS<progress class="progress is-info" value="40" max="100"></progress>
										</p>
									</div>
								</div>
							</article>
						</div>
					</div>
				</div>					
			</div>
			<div class="column">
				<article class="media notification has-background-white">
					<figure class="media-left">
						<span class="icon">
							<i class="fas fa-lg fa-columns has-text-warning"></i>
						</span>
					</figure>
					<div class="media-content">
						<div class="content has-text-black">
							<h1 class="title is-size-4">MY SERVICES</h1>
							<div class="block">
								<button class="button is-info">
									<a href="https://www.aimhighergg.com" target="_blank" rel="noopener noreferrer">AimHigherGG</a>
								</button>
							</div>
							<div class="block">
								<button class="button is-primary">
									<a href="https://www.aimhighergg.com/wiki/Tips" target="_blank" rel="noopener noreferrer">Tips</a>
								</button>
							</div>
							<div class="block">
								<button class="button is-danger">
									<a href="https://redmine.aimhighergg.com/" target="_blank" rel="noopener noreferrer">REDMINE</a>
								</button>
							</div>
						</div>
					</div>
				</article>
			</div>
		</div>
	</div>
</section>
{% endblock %}