{% extends "base.html" %}
{% block infrastructure %}
<!-- templates/infrastruncture.html -->
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
          <figure class="image is-200x1000 is-inline-block">
            <img src="images/on_premiss.png">
          </figure>
      </div>
      <div class="column">
        <figure class="image is-200x1000 is-inline-block">
          <img src="images/on_premiss.png">
        </figure>
      </div>
      <div class="column">
        <figure class="image is-200x1000 is-inline-block">
          <img src="images/on_premiss.png">
        </figure>
      </div>
  </div>
</section>
{% endblock %}