{% extends "base.html" %}
{% block infrastructure %}
<!-- templates/infrastructure.html -->
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="colmun">
        <article class="media notification is-white">
          <div class="media-content">
            <div class="content">
              <h1 class="title">Infrastructure</h1>
              <p class="is-size-6">
                <strong>
                  オンプレミスで商用環境・検証環境、Oracle Cloud でステージング環境、さくらクラウドで検証環境を構築しています。<br>
                  インフラ構築について、オンプレミスは Ansible でサーバー周りの管理を行い、Oracle Cloud については Terraform でクラウドの展開を行っています。<br>
                  アプリケーション展開はどの環境も Terraform helm provider で Argo CD のデプロイを行い、Argo CD でアプリケーションの展開を行っています。<br>
                </strong>
              </p>
            </div>
          </div>
        </article>
          <div class="columns">
          <div class="column">
              <figure class="image is-inline-block">
                <img src="images/on_premiss.png">
              </figure>
          </div>
          <div class="column">
            <figure class="image is-inline-block">
              <img src="images/oracle_cloud.png">
            </figure>
          </div>
          <div class="column">
            <figure class="image is-inline-block">
              <img src="images/sakura_cloud.png">
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}