{% extends "base.html" %}
{% block infrastructure %}
<!-- templates/infrastructure.html -->
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="colmun">
        <div class="content">
          <h1 class="title">Infrastructure</h1>
          <p class="is-size-6">
            オンプレミスで商用環境・検証環境、Oracle Cloud でステージング環境、さくらクラウドで検証環境
          </p>
        </div>
        <div class="columns">
          <div class="column">
              <figure class="image is-200x1000 is-inline-block">
                <img src="images/on_premiss.png">
              </figure>
          </div>
          <div class="column">
            <figure class="image is-200x1000 is-inline-block">
              <img src="images/on_premiss.png">
            </figure>
          </div>
          <div class="column">
            <figure class="image is-200x1000 is-inline-block">
              <img src="images/on_premiss.png">
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}